<!--Coming soon starts-->
<section id="coming-soon">
    <div class="container-fluid">
      <div class="row auth-height full-height-vh">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card card-coming-soon box-shadow-0 overflow-hidden">
            <div class="card-header text-center pt-4 pb-3">
              <img alt="avtar" class="img-fluid" src="assets/img/gallery/coming-soon.png" width="200">
            </div>
            <div id="clockFlat" class="getting-started px-sm-2">
              <div class="clockCard d-inline-block text-center px-3 px-sm-4 py-3">
                <span>{{ countdown.days }}</span>
                <br>
                <p class="lead m-0">يوم</p>
              </div>
              <div class="clockCard d-inline-block text-center px-3 px-sm-4 py-3">
                <span>{{ countdown.hours }}</span>
                <br>
                <p class="lead m-0">ساعة</p>
              </div>
              <div class="clockCard d-inline-block text-center px-3 px-sm-4 py-3">
                <span>{{ countdown.minutes }}</span>
                <br>
                <p class="lead m-0">دقيقة</p>
              </div>
              <div class="clockCard d-inline-block text-center px-3 px-sm-4 py-3">
                <span>{{ countdown.seconds }}</span>
                <br>
                <p class="lead m-0">ثانية</p>
              </div>
            </div>
            <div class="card-content">
              <div class="card-body text-center pt-1">
                <h2 class="mb-4 mt-2">جاري العمل لتفعيل هذه الخدمة</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Coming soon ends-->
  